<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="28"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

    <service
        android:name="net.woorisys.pms.app.services.SensorService.SensorService"
        android:enabled="true"
        android:exported="true"
        tools:ignore="InnerclassSeparator" />
    <service
        android:name="net.woorisys.pms.app.services.BeaconService.BeaconService"
        android:enabled="true"
        android:exported="true"
        android:foregroundServiceType="location"
        tools:ignore="InnerclassSeparator"/>



    </application>


</manifest>
